################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BIL122HW2/.vs/BIL122HW2/v16
/BIL122HW2/Debug
/BIL122HW1/.vs/BIL122HW1/v16
/BIL122HW3/.vs/BIL122HW3/v16
/BIL122HW3/Debug
/BIL122HW3/BIL122HW3/Debug
